<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Fightwithplayerdb[]|\Cake\Collection\CollectionInterface $fightwithplayerdb
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Fightwithplayerdb'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="fightwithplayerdb index large-9 medium-8 columns content">
    <h3><?= __('Fightwithplayerdb') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('name') ?></th>
                <th scope="col"><?= $this->Paginator->sort('record') ?></th>
                <th scope="col"><?= $this->Paginator->sort('date') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($fightwithplayerdb as $fightwithplayerdb): ?>
            <tr>
                <td><?= $this->Number->format($fightwithplayerdb->id) ?></td>
                <td><?= h($fightwithplayerdb->name) ?></td>
                <td><?= h($fightwithplayerdb->record) ?></td>
                <td><?= h($fightwithplayerdb->date) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $fightwithplayerdb->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $fightwithplayerdb->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $fightwithplayerdb->id], ['confirm' => __('Are you sure you want to delete # {0}?', $fightwithplayerdb->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
